Repository radioconda/gnuradio-oot-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]

Add hermeslite2 (#16)
  recipes/hermeslite2/build.bat
  recipes/hermeslite2/build.sh
  recipes/hermeslite2/recipe.yaml
  recipes/hermeslite2/variants.yaml
Due: check-yaml

Add hpsdr
  recipes/hpsdr/build.bat
  recipes/hpsdr/build.sh
  recipes/hpsdr/recipe.yaml
  recipes/hpsdr/variants.yaml
Due: check-yaml

Fix block paths
  recipes/hpsdr/recipe.yaml
Due: check-yaml

Add hpsdr (#17)
  recipes/hpsdr/build.bat
  recipes/hpsdr/build.sh
  recipes/hpsdr/recipe.yaml
  recipes/hpsdr/variants.yaml
Due: check-yaml

Add ieee802-11
  recipes/ieee802-11/build.bat
  recipes/ieee802-11/build.sh
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
Due: check-yaml

Don't test wifi_loopback because it is invalid
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Don't test examples that need wifi_phy_hier
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Disable script tests
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Add ieee802-11 (#18)
  recipes/ieee802-11/build.bat
  recipes/ieee802-11/build.sh
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
Due: check-yaml

Add ieee802-15-4
  recipes/ieee802-15-4/build.bat
  recipes/ieee802-15-4/build.sh
  recipes/ieee802-15-4/recipe.yaml
  recipes/ieee802-15-4/variants.yaml
Due: check-yaml

Don't test examples that need hier blocks to compile
  recipes/ieee802-15-4/recipe.yaml
Due: check-yaml

Disable script tests
  recipes/ieee802-15-4/recipe.yaml
Due: check-yaml

Add ieee802-15-4 (#19)
  recipes/ieee802-15-4/build.bat
  recipes/ieee802-15-4/build.sh
  recipes/ieee802-15-4/recipe.yaml
  recipes/ieee802-15-4/variants.yaml
Due: check-yaml

Simplify rendered variants when a platform is skipped
  .scripts/render-variants.py
Due: none

Re-render variants
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
Due: check-yaml

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
Due: check-yaml

Update upstream git urls
  recipes/inspector/recipe.yaml
  recipes/lora_sdr/recipe.yaml
Due: check-yaml

Bump build numbers for rebuild against gnuradio
  recipes/adsb/recipe.yaml
  recipes/dect2/recipe.yaml
  recipes/filerepeater/recipe.yaml
  recipes/foo/recipe.yaml
  recipes/fosphor/recipe.yaml
  recipes/gpredict-doppler/recipe.yaml
  recipes/hermeslite2/recipe.yaml
  recipes/hpsdr/recipe.yaml
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-15-4/recipe.yaml
  recipes/leo/recipe.yaml
  recipes/leo/variants.yaml
  recipes/paint/recipe.yaml
  recipes/radar/recipe.yaml
  recipes/rds/recipe.yaml
Due: check-yaml

Add workaround to make sure gnuradio-foo is built first
  pixi.toml
Due: none

Update scripts
  .scripts/render-variants.py
  .scripts/update-versions.py
  pixi.lock
  pixi.toml
  recipes/leo/variants.yaml
Due: check-yaml

Change update-pins workflow to bump build number and summarize changes
  .github/workflows/update-pins.yml
Due: check-yaml, actionlint

Update git_url for hermeslite2
  recipes/hermeslite2/recipe.yaml
Due: check-yaml

Update git_url for rds
  recipes/rds/recipe.yaml
Due: check-yaml

Add linux-ppc64le platform builds
  .github/workflows/build.yml
  pixi.lock
  pixi.toml
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
Due: check-yaml, actionlint

Try adding qemu to enable emulation for testing cross-compiled build
  .github/workflows/build.yml
Due: check-yaml, actionlint

Skip trying emulation and instead skip non-native testing
  .github/workflows/build.yml
Due: check-yaml, actionlint

radar: Add qt-main to build env for native `moc` binary
  recipes/radar/recipe.yaml
Due: check-yaml

radar: Remove moc binary in $PREFIX and link to the one in $BUILD_PREFIX
  recipes/radar/build.sh
Due: none

inspector: Add qt-main to build env and use build prefix `moc` binary
  recipes/inspector/build.sh
  recipes/inspector/recipe.yaml
Due: check-yaml

fosphor: Add qt-main to build env and use build prefix `moc` binary
  recipes/fosphor/build.sh
  recipes/fosphor/recipe.yaml
Due: check-yaml

Rebuild ieee802_11 and inspector against fmt 11.0
  recipes/ieee802-11/recipe.yaml
  recipes/inspector/recipe.yaml
Due: check-yaml

Add gr-isdbt
  recipes/isdbt/.copier-answers.yml
  recipes/isdbt/build.bat
  recipes/isdbt/build.sh
  recipes/isdbt/recipe.yaml
  recipes/isdbt/variants.yaml
Due: check-yaml

Update dect2 git url
  recipes/dect2/recipe.yaml
Due: check-yaml

scripts: Print full traceback when there is an error
  .scripts/render-variants.py
  .scripts/update-versions.py
Due: none

Don't run isdbt tests since they are essentially empty and broken
  recipes/isdbt/build.bat
  recipes/isdbt/build.sh
Due: none

workflows/build: Set global git autocrlf to "input"
  .github/workflows/build.yml
Due: check-yaml, actionlint

Fix add file match for recipe.yaml in update-pins action
  .github/workflows/update-pins.yml
Due: check-yaml, actionlint

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/adsb/recipe.yaml
  recipes/adsb/variants.yaml
  recipes/dect2/recipe.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/recipe.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/recipe.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/recipe.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/recipe.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/recipe.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/recipe.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/recipe.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/recipe.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/recipe.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/recipe.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/recipe.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/recipe.yaml
  recipes/paint/variants.yaml
  recipes/radar/recipe.yaml
  recipes/radar/variants.yaml
  recipes/rds/recipe.yaml
  recipes/rds/variants.yaml
Due: check-yaml

Remove manual global pins that are now conda-forge wide
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Add pre-commit check for merge conflicts
  .pre-commit-config.yaml
Due: check-yaml
