Repository radioconda/gnuradio-oot-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

Timeout on OSX needs to be longer to build matplotlib font cache
  recipes/tempest/recipe.yaml
Due: check-yaml

Back to 30 second timeout on unix, for sake of osx
  recipes/tempest/recipe.yaml
Due: check-yaml

15 second timeout, dummy SDL driver
  recipes/tempest/recipe.yaml
Due: check-yaml

Add sleep before test exits to give time for cleanup
  recipes/tempest/recipe.yaml
Due: check-yaml

Add gnuradio-tempest (#41)
  recipes/tempest/.copier-answers.yml
  recipes/tempest/0001-examples-Make-image-path-relative-so-it-can-be-run-a.patch
  recipes/tempest/0002-cmake-Install-examples.patch
  recipes/tempest/0003-python-Fix-installation-of-Python-binding-module-on-.patch
  recipes/tempest/0004-Fix-imports-of-tempest-to-be-under-gnuradio-namespac.patch
  recipes/tempest/LICENSE.GPLv3
  recipes/tempest/build.bat
  recipes/tempest/build.sh
  recipes/tempest/recipe.yaml
  recipes/tempest/variants.yaml
Due: check-yaml

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/fosphor/recipe.yaml
  recipes/fosphor/variants.yaml
Due: check-yaml

Update packages to latest revisions
  recipes/rds/recipe.yaml
Due: check-yaml

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/foo/recipe.yaml
  recipes/foo/variants.yaml
  recipes/radar/recipe.yaml
  recipes/radar/variants.yaml
Due: check-yaml

Update to macOS 15 runner images
  .github/workflows/build.yml
Due: check-yaml, actionlint

Update packages to latest revisions
  recipes/lora_sdr/recipe.yaml
  recipes/rds/recipe.yaml
Due: check-yaml

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/filerepeater/recipe.yaml
  recipes/filerepeater/variants.yaml
  recipes/fosphor/recipe.yaml
  recipes/fosphor/variants.yaml
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
  recipes/inspector/recipe.yaml
  recipes/inspector/variants.yaml
Due: check-yaml

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/adsb/recipe.yaml
  recipes/adsb/variants.yaml
  recipes/dect2/recipe.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/recipe.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/recipe.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/recipe.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/recipe.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/recipe.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/recipe.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/recipe.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/recipe.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/recipe.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/recipe.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/recipe.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/recipe.yaml
  recipes/paint/variants.yaml
  recipes/radar/recipe.yaml
  recipes/radar/variants.yaml
  recipes/rds/recipe.yaml
  recipes/rds/variants.yaml
  recipes/tempest/recipe.yaml
  recipes/tempest/variants.yaml
Due: check-yaml

Avoid pybind11 3.0.2 due to bug with static cast where dynamic is needed
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
  recipes/tempest/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Pin to qwt 6.2 so everything builds with Qt5 only
  recipes/inspector/variants.yaml
  recipes/radar/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Remove manual global pins that have been surpassed by conda-forge
  recipes/ieee802-11/variants.yaml
  recipes/inspector/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Pin boost to 1.88 so build will proceed with latest gnuradio
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
  recipes/tempest/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Update pins to fmt 12.1 and spdlog 1.17 so volk 3.3 is installable
  recipes/filerepeater/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/inspector/variants.yaml
  recipes/variants.yaml
Due: check-yaml

Update packages to latest revisions
  recipes/adsb/recipe.yaml
Due: check-yaml

Update gr-ieee801-11 to pull from upstream
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Update gr-radar version
  recipes/radar/recipe.yaml
Due: check-yaml

Update packages to latest revisions
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Update pixi version installed to run the build
  .github/workflows/build.yml
Due: check-yaml, actionlint

lint: Update pixi.toml to use workspace instead of project
  .scripts/render-variants.py
  pixi.toml
Due: none

Update packages to latest revisions
  recipes/fosphor/recipe.yaml
Due: check-yaml

Skip tempest test on osx-64 due to directory cleanup failure
  recipes/tempest/recipe.yaml
Due: check-yaml

Remove dependabot config
  .github/dependabot.yml
Due: check-yaml

Update renovate config
  renovate.json
Due: none

Run renovate weekly
  renovate.json
Due: none

Fix pixi.toml to allows updates of conda-forge-pinning
  pixi.toml
Due: none

Use no-pin strategy in pixi.toml, so update gets latest versions
  .pixi/config.toml
  pixi.toml
Due: none

Turn off lockfile maintenance, we have another workflow to do that
  renovate.json
Due: none

Update macOS-intel runner to latest
  .github/workflows/build.yml
Due: check-yaml, actionlint

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
