Repository radioconda/gnuradio-oot-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

Update dect2 recipe to new template version using copier update.
  recipes/dect2/.copier-answers.yml
Due: check-yaml

Convert dect2 to copier template
  recipes/dect2/.copier-answers.yml
  recipes/dect2/build.bat
  recipes/dect2/recipe.yaml
Due: check-yaml

Add `update-from-template` pixi task to run copier update
  .scripts/update-from-template.py
  pixi.toml
Due: none

Add generate command for creating recipe from template
  .scripts/generate-from-template.py
  pixi.toml
Due: none

Let template update script work with multiple recipes to update
  .scripts/update-from-template.py
Due: none

Update templated recipes to v1.1.1
  recipes/adsb/.copier-answers.yml
  recipes/adsb/recipe.yaml
  recipes/dect2/.copier-answers.yml
  recipes/gpredict-doppler/.copier-answers.yml
  recipes/gpredict-doppler/recipe.yaml
  recipes/isdbt/.copier-answers.yml
Due: check-yaml

Convert adsb recipe to copier template
  recipes/adsb/.copier-answers.yml
  recipes/adsb/build.bat
  recipes/adsb/build.sh
  recipes/adsb/recipe.yaml
Due: check-yaml

Convert gpredict-doppler recipe to copier template
  recipes/gpredict-doppler/.copier-answers.yml
  recipes/gpredict-doppler/build.bat
  recipes/gpredict-doppler/build.sh
  recipes/gpredict-doppler/recipe.yaml
Due: check-yaml

Update lockfile
  pixi.lock
Due: none

Upgrade required rattler-build
  pixi.lock
  pixi.toml
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
Due: check-yaml

Don't include channel_sources in variants
  .scripts/render-variants.py
  recipes/adsb/variants.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/variants.yaml
  recipes/radar/variants.yaml
  recipes/rds/variants.yaml
Due: check-yaml

Update templated recipes to template version v1.1.2
  recipes/adsb/.copier-answers.yml
  recipes/adsb/build.bat
  recipes/adsb/build.sh
  recipes/dect2/.copier-answers.yml
  recipes/dect2/build.bat
  recipes/dect2/build.sh
  recipes/gpredict-doppler/.copier-answers.yml
  recipes/gpredict-doppler/build.bat
  recipes/gpredict-doppler/build.sh
  recipes/isdbt/.copier-answers.yml
  recipes/isdbt/build.bat
  recipes/isdbt/build.sh
Due: check-yaml

Update templated recipes to template v1.1.3
  recipes/adsb/.copier-answers.yml
  recipes/adsb/recipe.yaml
  recipes/dect2/.copier-answers.yml
  recipes/gpredict-doppler/.copier-answers.yml
  recipes/gpredict-doppler/recipe.yaml
  recipes/isdbt/.copier-answers.yml
Due: check-yaml

Force skip tests on linux-ppc64le since it is cross-compiled
  .github/workflows/build.yml
Due: check-yaml, actionlint

Update pixi lockfile and pinned variants
  pixi.lock
  recipes/adsb/recipe.yaml
  recipes/adsb/variants.yaml
  recipes/dect2/recipe.yaml
  recipes/dect2/variants.yaml
  recipes/filerepeater/recipe.yaml
  recipes/filerepeater/variants.yaml
  recipes/foo/recipe.yaml
  recipes/foo/variants.yaml
  recipes/fosphor/recipe.yaml
  recipes/fosphor/variants.yaml
  recipes/gpredict-doppler/recipe.yaml
  recipes/gpredict-doppler/variants.yaml
  recipes/hermeslite2/recipe.yaml
  recipes/hermeslite2/variants.yaml
  recipes/hpsdr/recipe.yaml
  recipes/hpsdr/variants.yaml
  recipes/ieee802-11/recipe.yaml
  recipes/ieee802-11/variants.yaml
  recipes/ieee802-15-4/recipe.yaml
  recipes/ieee802-15-4/variants.yaml
  recipes/inspector/recipe.yaml
  recipes/inspector/variants.yaml
  recipes/isdbt/recipe.yaml
  recipes/isdbt/variants.yaml
  recipes/leo/recipe.yaml
  recipes/leo/variants.yaml
  recipes/lora_sdr/recipe.yaml
  recipes/lora_sdr/variants.yaml
  recipes/paint/recipe.yaml
  recipes/paint/variants.yaml
  recipes/radar/recipe.yaml
  recipes/radar/variants.yaml
  recipes/rds/recipe.yaml
  recipes/rds/variants.yaml
Due: check-yaml

Specify environment to use for update-versions and update-pins tasks
  .github/workflows/update-pins.yml
  .github/workflows/update-versions.yml
Due: check-yaml, actionlint

Update pixi config to make update-version task environment clear
  pixi.lock
  pixi.toml
Due: none

Convert filerepeater recipe to copier template
  recipes/filerepeater/.copier-answers.yml
  recipes/filerepeater/build.bat
  recipes/filerepeater/build.sh
  recipes/filerepeater/recipe.yaml
Due: check-yaml

Convert foo recipe to copier template
  recipes/foo/.copier-answers.yml
  recipes/foo/build.bat
  recipes/foo/build.sh
  recipes/foo/recipe.yaml
Due: check-yaml

Convert radar recipe to copier template
  recipes/radar/.copier-answers.yml
  recipes/radar/build.bat
  recipes/radar/build.sh
  recipes/radar/recipe.yaml
Due: check-yaml

Conver ieee802-15-4 recipe to copier template
  recipes/ieee802-15-4/.copier-answers.yml
  recipes/ieee802-15-4/build.bat
  recipes/ieee802-15-4/build.sh
  recipes/ieee802-15-4/recipe.yaml
Due: check-yaml

Convert rds recipe to copier template
  recipes/rds/.copier-answers.yml
  recipes/rds/build.bat
  recipes/rds/build.sh
  recipes/rds/recipe.yaml
Due: check-yaml

Convert hermeslite2 recipe to copier template
  recipes/hermeslite2/.copier-answers.yml
  recipes/hermeslite2/build.bat
  recipes/hermeslite2/build.sh
  recipes/hermeslite2/recipe.yaml
Due: check-yaml

Convert paint recipe to copier template and update
  recipes/paint/.copier-answers.yml
  recipes/paint/build.bat
  recipes/paint/build.sh
  recipes/paint/recipe.yaml
Due: check-yaml

Convert hpsdr recipe to copier template and update upstream
  recipes/hpsdr/.copier-answers.yml
  recipes/hpsdr/build.bat
  recipes/hpsdr/build.sh
  recipes/hpsdr/recipe.yaml
Due: check-yaml

Convert fosphor recipe to copier template
  recipes/fosphor/.copier-answers.yml
  recipes/fosphor/build.bat
  recipes/fosphor/build.sh
  recipes/fosphor/recipe.yaml
Due: check-yaml

Convert lora_sdr recipe to copier template
  recipes/lora_sdr/.copier-answers.yml
  recipes/lora_sdr/build.bat
  recipes/lora_sdr/build.sh
  recipes/lora_sdr/recipe.yaml
Due: check-yaml

Convert ieee802-11 recipe to copier template and update
  recipes/ieee802-11/.copier-answers.yml
  recipes/ieee802-11/build.bat
  recipes/ieee802-11/build.sh
  recipes/ieee802-11/recipe.yaml
Due: check-yaml

Convert leo recipe to copier template
  recipes/leo/.copier-answers.yml
  recipes/leo/build.bat
  recipes/leo/build.sh
  recipes/leo/recipe.yaml
Due: check-yaml

Convert inspector recipe to copier template
  recipes/inspector/.copier-answers.yml
  recipes/inspector/build.bat
  recipes/inspector/build.sh
  recipes/inspector/recipe.yaml
Due: check-yaml

Add gnuradio-tempest
  recipes/tempest/.copier-answers.yml
  recipes/tempest/build.bat
  recipes/tempest/build.sh
  recipes/tempest/recipe.yaml
  recipes/tempest/variants.yaml
Due: check-yaml

Add pillow and pyqt runtime dependencies
  recipes/tempest/recipe.yaml
Due: check-yaml

Need runtime deps in host for cmake tests
  recipes/tempest/recipe.yaml
Due: check-yaml

Add patches to fix windows install, install examples, and run example
  recipes/tempest/.copier-answers.yml
  recipes/tempest/0001-examples-Make-image-path-relative-so-it-can-be-run-a.patch
  recipes/tempest/0002-cmake-Install-examples.patch
  recipes/tempest/0003-python-Fix-installation-of-Python-binding-module-on-.patch
  recipes/tempest/build.bat
  recipes/tempest/build.sh
  recipes/tempest/recipe.yaml
Due: check-yaml

Add license file
  recipes/tempest/LICENSE.GPLv3
Due: none

Add missing gnuradio-qtgui test dep
  recipes/tempest/recipe.yaml
Due: check-yaml

Add patch to fix imports
  recipes/tempest/0004-Fix-imports-of-tempest-to-be-under-gnuradio-namespac.patch
  recipes/tempest/recipe.yaml
Due: check-yaml

Fix test so Qt runs headless, timeout command exists on osx
  recipes/tempest/recipe.yaml
Due: check-yaml

Try SDL_VIDEODRIVER=dummy
  recipes/tempest/recipe.yaml
Due: check-yaml

Try offscreen SDL_VIDEODRIVER and lower timeout to 10 seconds
  recipes/tempest/recipe.yaml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
